<div>
  <h1 class="font-bold text-4xl">сЃЌсЃГсЃЋсѓБсЃ╝сЃФСйюТѕљсЃЋсѓЕсЃ╝сЃа</h1>

  <%= form_with model: @profile, local: true  do |form| %>

  <p>сѓЈсЂЪсЂЌсЂ«<%= form.label :name %>сЂ» <%= form.text_field :name %> сЂДсЂЎ№╝Ђ</p>

  <p>сЂЙсѓЈсѓісЂ«С║║сЂЪсЂАсЂІсѓЅсЂ»<%= form.label :nickname %> <%= form.text_field :nickname %> сЂБсЂдтЉ╝сЂ░сѓїсЂдсЂёсЂЙсЂЎсђѓ</p>

  <p><%= form.label :constellation %>сЂ» <%= form.select :constellation, options_for_select(['сЂісЂ▓сЂцсЂўт║Д', 'сЂісЂєсЂЌт║Д', 'сЂхсЂЪсЂћт║Д', 'сЂІсЂФт║Д', 'сЂЌсЂЌт║Д', 'сЂісЂесѓЂт║Д', 'сЂдсѓЊсЂ│сѓЊт║Д', 'сЂЋсЂЮсѓіт║Д', 'сЂёсЂдт║Д', 'сѓёсЂјт║Д', 'сЂ┐сЂџсЂїсѓЂт║Д', 'сЂєсЂіт║Д', 'сѓЈсЂІсѓЅсЂфсЂё', 'сЃњсЃЪсЃё']) %> ­Ъїа</p>

  <p><%= form.label :birthplace %>сЂ» <%= form.select :birthplace, options_for_select(['тїЌТхижЂЊ', 'жЮњТБ«уюї', 'т▓ЕТЅІуюї', 'т««тЪјуюї', 'уДІућ░уюї', 'т▒▒тйбуюї', 'удЈт│Хуюї', 'УїетЪјуюї', 'ТаЃТюеуюї', 'уЙцждгуюї', 'тЪ╝ујЅуюї', 'тЇЃУЉЅуюї', 'ТЮ▒С║гжЃй', 'уЦътЦѕтиЮуюї', 'Тќ░ТйЪуюї', 'т»їт▒▒уюї', 'уЪ│тиЮуюї', 'удЈС║Ћуюї', 'т▒▒Тбеуюї', 'жЋижЄјуюї', 'т▓љжўюуюї', 'жЮЎт▓Ауюї', 'ТёЏуЪЦуюї', 'СИЅжЄЇуюї', 'Т╗ІУ│ђуюї', 'С║гжЃйт║ю', 'тцДжўфт║ю', 'тЁхт║Фуюї', 'тЦѕУЅ»уюї', 'тњїТГїт▒▒уюї', 'ж│ЦтЈќуюї', 'т│ХТа╣уюї', 'т▓Ат▒▒уюї', 'т║Ѓт│Хуюї', 'т▒▒тЈБуюї', 'тЙ│т│Хуюї', 'ждЎтиЮуюї', 'ТёЏтфЏуюї', 'жФўуЪЦуюї', 'удЈт▓Ауюї', 'СйљУ│ђуюї', 'жЋит┤јуюї', 'уєіТюгуюї', 'тцДтѕєуюї', 'т««т┤јуюї', 'ж╣┐тЁљт│Хуюї', 'Т▓ќуИёуюї', 'Тхитцќ', 'сЃњсЃЪсЃё']) %> сЂасѓѕ№╝Ђ</p>

  <p>сѓЈсЂЪсЂЌсЂ«<%= form.label :personality_main %>сЂ» <%= form.text_field :personality_main %> сЂД <%= form.label :personality_sub %><%= form.text_field :personality_sub %> сЂасЂеТђЮсЂБсЂдсЂёсЂЙсЂЎРюе
  </p>

  <p><%= form.label :evaluation_others %> <%= form.text_field :evaluation_others %> сЂБсЂдУеђсѓЈсѓїсѓІсЂЊсЂесЂїсЂѓсѓІсѓѕсђѓ</p>

  <p><%= form.label :hobby_or_interest %>сЂ» <%= form.text_field :hobby_or_interest %> сђѓ</p>

  <p><%= form.label :favorite_food %>сЂ» <%= form.text_field :favorite_food %> ­ЪЇЎ</p>

  <p><%= form.label :favorite_drink %>сЂ» <%= form.text_field :favorite_drink %> РўЋ</p>

  <p><%= form.label :favorite_artist %>сЂ» <%= form.text_field :favorite_artist %> ­Ъќ╝</p>

  <p><%= form.label :favorite_book %>сЂ» <%= form.text_field :favorite_book %> ­ЪЊџ</p>

  <p><%= form.label :favorite_movie %>сЂ» <%= form.text_field :favorite_movie %> ­Ъјг</p>

  <p><%= form.label :favorite_place %>сЂ» <%= form.text_field :favorite_place %> ­Ъї│</p>

  <p>сѓЈсЂЪсЂЌсЂ«<%= form.label :special_skill %>сЂ» <%= form.text_field :special_skill %> сЂДсЂЎ№╝Ђ</p>

  <p>С╗і<%= form.label :things_i_want %>сЂ» <%= form.text_field :things_i_want %> сђѓ</p>

  <p><%= form.label :future_dream %>сЂ» <%= form.text_field :future_dream %> сЂЊсЂесЂфсѓЊсЂаРюе</p>

  <p><%= form.label :motto %>сЂ» <%= form.text_field :motto %>сђѓ </p>

  <p>ТюђтЙїсЂФ<%= form.label :free_message %><br><%= form.text_area :free_message %></p>

  <p><%= form.submit class: "px-8 py-3 font-semibold rounded-full bg-violet-300" %>
  </p>

  <% end %>
</div>
