<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:url"           content="<%= request.url %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= page_title %>" />
    <meta property="og:description"   content="懐かしの「プロフィール帳」をwebで作って共有しよう！"/>
    <meta property="og:image"         content="<%= image_url('/ogp.png') %>"/>
    <meta name="twitter:card"         content="summary_large_image" />
    <meta name="twitter:title"        content="<%= page_title %>">
    <meta name="twitter:description"  content="懐かしの「プロフィール帳」をwebで作って共有しよう！">
    <meta name="twitter:image"        content="<%= image_url('/ogp.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag(source='/favicon.ico') %>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true  %>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    animation: {
                        'bounce': 'bounce 1s infinite',
                        'pulse': 'pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite',
                        'ping': 'ping 1s cubic-bezier(0, 0, 0.2, 1) infinite',
                    },
                    colors: {
                        'dream-purple': {
                            300: '#c084fc',
                            700: '#581c87',
                            800: '#7c2d92'
                        },
                        'dream-pink': {
                            300: '#f472b6',
                            200: '#f8d7da'
                        }
                    }
                }
            }
        }
    </script>
    <%= render "shared/menu_script" %>
  </head>

  <body class="min-h-screen bg-gradient-to-br from-pink-200 via-pink-100 to-purple-200">
    <%= render "shared/header" %>
    <%= render "shared/messages" %>
    <%= yield %>
  </body>
</html>
