<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", media: 'all', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "social-share-button", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "social-share-button", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen bg-gradient-to-br from-pink-200 via-pink-100 to-purple-200" data-turbo="false">
    <%= render 'shared/header' %>

    <main class="h-[calc(100vh-4rem)]">
      <%= render partial: "shared/messages" %>

      <%= yield %>
    </main>
  </body>
</html>
